$greenColor: hsl(158, 36%, 37%);

@media(min-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        

    }
    div.container {
        max-width: calc(100vw - 10vw);
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
    }

    div.first-col {
        display: flex;
        object-fit: cover;
        overflow: hidden;
    }

    picture {
        min-width: 100%;
        min-height: 100%;
        margin: 0;
        padding: 0;
        font-size: 0%;
    }
    
    div.second-col {
        width: 100%;
        padding: 30px !important; 
        overflow: hidden;

    }


    p.perfume {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    

}

@media(min-width: 1024px){
    h1 {
        font-size: calc(3em + 2vw );
    }

    button {
        margin-top: 3em;
        padding: 3em;
    }

    source {
        max-height: 100%;
    }
}

@media(min-width: 1280px){

    p{
        font-size: calc(14px + 1vw);
    }
    picture, img {
        background-size: 100%;
        min-height: 100%;
    }
    
    footer {
        display: block;
    }
}



* {
    box-sizing: border-box;
}

html, body, p, h1, h2, picture{
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
}

main.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
    div.container {
        display: grid;
        grid-template-rows: 1fr;
        width: 90vw;
        max-height: 95vh;
        justify-self: center;
        overflow: auto;
        background-color: white;
        border-radius: .7em;
        contain: content;

        div.second-col {
            padding: 20px 25px;

            p.perfume {
                letter-spacing: .4em;
                font-size: calc(.6em + 1vw);
                margin-bottom: 10px;
            }

            h1 {
                font-size: calc(1.8em + 1vw);
                margin-top: .4rem;
            }

            p.description {
                margin-top: .7rem;
                line-height: 1.5em;
        
            }

            div.price-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 20px;
                margin-bottom: 15px;
                gap: 15px;
            }

            p.previous-price {
                text-decoration-line: line-through;
                align-self: center;
            }

            h2.price-tag {
                color: $greenColor;
                font-size: calc(2em + 2vw);
            }

            button.addToCart-btn {
                display: flex;
                width: 100%;
                padding: 12px;
                border-radius: .5rem;
                border: none;
                background-color: $greenColor;
                justify-content: center;
                gap: 10px;

            }

            button:active {
                background-color: darken($greenColor, 20%);
            }

            p.add-to-cart {
                align-self: center;
                color: white;
                font-weight: 700;
                font-size: 1em;

            }
        }
    }
}

p {
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: calc(.65em + 1.2vw);

}

h1, h2 {
    font-family: "Fraunces", serif ;
}

img {
    width: 100%;
    object-fit: contain;
}

footer{
    display: none;
}

object {
    width: calc(1rem + 1vw);
    filter: invert(100%);
}

picture{
    object-fit: cover;
}